.nameTable {
  width: 50px;
}
.cartProductContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.imageName {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.remainingdata {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
